@import '../../style/required'

.g-tag 
    padding 0px 7px
    height 21px
    font-size 12px
    line-height 21px
    text-align center
    text-transform uppercase
    border-radius(3px)
    user-select()
    font-weight bold
    width 40px
    
    &--yellow 
        color $white
        background $yellow

    &--orange 
        color $white
        background $orange

    &--red 
        color $white
        background $red

    &--brand 
        color $white
        background $brand

    &--brand-dark 
        color $white
        background $brandDark

    &--brand-light 
        color $white
        background $brandLight