@import '../../style/required'

.g-autocomplete 
    background $white
    flexbox()
    height 54px
    box-shadow(0px 2px 6px rgba(0, 0, 0, 0.25))
    border 1px solid $nBasicFour
    border-radius(8px)

    .css-6lnn5x-control 
        border-radius(8px)

    &__indicators
        flexbox()
        background $nBrand
        height 53px;
        border-radius(0 8px 8px 0)
        &.small
            height 40px
    &__icon 
        padding-right 12px
        padding-left 2px
        color $white
        position relative
        top 1px
        left 3px
        font-size 21px
        &.small 
            font-size 18px

    &.noshadow 
        box-shadow(none)

    &.small
        height 42px

    &__option
      flexbox(row, flex-start, center)
      i 
        margin-left auto
        font-size 18px
        

        