@import '../../style/required'

.hero-module
  background-color $white
  padding: 50px 0px

  +responsive(lg)
    padding-left 30px
    padding-right 30px
  +responsive(md)
    padding-left 30px
    padding-right 30px
  +responsive(sm)
    padding-left 15px
    padding-right 15px
  +responsive(xs)
    padding-left 15px
    padding-right 15px
  +responsive(xxs)
    padding-left 15px
    padding-right 15px
  +responsive(xs)
    padding-top 0
    padding-bottom 30px

  &__carousel

    /* 992px - 1199px */

    +responsive(md)
      padding-bottom 64%
    
    /* 768px - 991px */

    +responsive(sm)
      padding-bottom 80%

    /* 0px - 767px */

    +responsive(xs)
      width calc(100%)
      margin-bottom 20px
      position relative
      left 0px
      margin-top 15px

  h1
    color $darker
    font-weight bold
    font-size 36px
    line-height 43px
    padding-bottom: 0
    margin-bottom 24px

    +responsive(sm)
      font-size 26px
      line-height 33px

    +responsive(xs)
      font-size 26px
      line-height 33px

    +responsive(xxs)
      font-size 24px
      line-height 29px  

  &__history
    &__title
      padding-bottom 10px
      display block
      font-weight 600
      font-size 13px
      line-height 16px
      color $darker

    .g-button
      margin-right 10px
      margin-bottom 10px

  &__autocomplete
    position relative
    z-index 9
    width 100%
    margin-bottom 20px
    box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)

    +responsive(xs)
      width 100%

  &__notification
    flexbox()
    margin-bottom 10px

    &__text 
      font-size 14px
      line-height 17px
      padding-left 9px