@import '../../style/required'

.search-module
  position relative
  display block

  &:before 
    content ''
    display block
    height 225px

  > div, &__content, &__image
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    border-radius 8px
  &__image
    background-size cover
    background-position center

  &__content
    background linear-gradient(0deg, rgba(43, 57, 64, 0.3), rgba(43, 57, 64, 0.3))
    flexbox(column, flex-start, flex-start)
    color $white
    height 100%
    padding-top 43px

  h1
    color $white
    font-size 36px
    line-height 43px
    padding-bottom: 0
    margin-bottom 24px

  &__autocomplete
    position relative
    z-index 9
    width 100%
    margin-bottom 20px
    box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)

    +responsive(xs)
      width 100%
      
.container
  width 100%
  
.search-row
  justify-content center