@import '../../style/required'

.g-info-text
    position relative
    &__top
      padding 15px 0
      color $dark
      font-size 15px
      line-height 1.3
      border-bottom 1px solid $border
      opacity 0.5

    &__container
      padding 25px 0
      flexbox(row, flex-start, center)

      img
        margin-right 10px
        width: 40px
        height 40px
        flex 0 0 40px

      i 
        margin-right 10px
        color $brand
        font-size 40px
        &:before
          display block

    &__content
      color $dark
      font-weight 500
      font-size 15px
      line-height 1.3
