@import '../../style/required'

.logo-module
  background-color $white
  +responsive(lg)
    margin 0px 30px
  +responsive(md)
    margin 0px 30px
  +responsive(sm)
    margin 0px 15px
  +responsive(xs)
    margin 0px 15px 
  +responsive(xxs)
    margin 0px 15px 

  &__container
    flexbox(row, flex-start, center)
    background $nGray
    border-radius(6px)
    overflow-x: scroll
    overflow-y: hidden
    -webkit-overflow-scrolling:touch  
    padding: 12px 15px
    &::-webkit-scrollbar
      display none
  
  &__item
    width 20%
    flex 0 0 20%
    min-width 180px
    img 
      width 100%
      display block