@import '../../style/required'

.g-property-type
    position relative
    display block
    border-radius(6px)
    overflow hidden
    min-width 242px
    max-width 242px
    min-height 200px
    box-shadow(0px 2px 6px rgba(0, 0, 0, 0.25))
    +responsive(lg)
      min-width 214px
      max-width 214px
    +responsive(md)
      min-width 230px
      max-width 230px
    +responsive(xs)
      max-width 100%
    +responsive(xxs)
      max-width 100%
    &:before 
      content ''
      display block
      height 200px

    > div, &__content, &__image
      position absolute
      left 0
      top 0
      width 100%
      height 100%

    &__image
      background-size cover
      background-position center

    &__content
      flexbox(column, flex-start, center)
      color $nBasicTwo
      background rgba(255, 255, 255, 0.9)
      width 205px
      height 53px
      left 18px
      top 130px
      border-radius(4px)
      +responsive(lg)
        width 180px
      +responsive(md)
        left 12px
      +responsive(xs)
        width 100%
        left 0px
      +responsive(xxs)
        width 100%
        left 0px

    &__title
      font-weight bold
      font-size 18px
      line-height 22px
      padding-bottom 3px
      margin-top 3px

      +responsive(xs)
        font-size 16px
        line-height 19px
      +responsive(xxs)
        font-size 16px
        line-height 19px

    &__subtitle
      font-weight 500
      font-size 15px
      line-height 18px

      +responsive(xs)
        font-size 13px
        line-height 16px
      +responsive(xxs)
        font-size 13px
        line-height 16px