@import '../../style/required'

.g-popularcity-card
	min-width 242px
	max-width 242px
	+responsive(md)
		min-width 230px
		max-width 230px
 
	&__card
		position relative
		display block
		background #444444
		border-radius(6px)
		overflow hidden
		box-shadow(0px 2px 6px rgba(0, 0, 0, 0.25))
		&:before 
			content ''
			display block
			height 200px

		> div, &__content, &__image
			position absolute
			left 0
			top 0
			width 100%
			height 100%

		&__image
			background-size cover
			background-position center

		&__content
			background linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
			flexbox(column, flex-end, flex-start)
			padding 12px
			color $white
			height 90px
			top 110px


		&__title
			font-weight bold
			font-size 21px
			line-height 25px
			color $white

			+responsive(xs)
				font-size 16px
				line-height 19px
			+responsive(xxs)
				font-size 16px
				line-height 19px

		&__subtitle
			font-weight 500
			font-size 16px
			line-height 19px
			color $white

			+responsive(xs)
				font-size 13px
				line-height 16px
			+responsive(xxs)
				font-size 13px
				line-height 16px
			
	&__details
		padding 9px 12px
		&__citydetails
			font-weight 500
			font-size 13px
			line-height 20px
			color $nBasicTwo
			white-space normal