@import '../../style/required'

.g-popularcountry-card
    position relative
    display block
    border-radius(6px)
    overflow hidden
    min-width 242px
    max-width 242px
    min-height 300px
    box-shadow(0px 2px 6px rgba(0, 0, 0, 0.25))
    +responsive(lg)
      min-width 214px
      max-width 214px
    +responsive(md)
      min-width 230px
      max-width 230px
    +responsive(xs)
      max-width 100%
    +responsive(xxs)
      max-width 100%
    &:before 
      content ''
      display block
      height 300px

    > div, &__content, &__image
      position absolute
      left 0
      top 0
      width 100%
      height 100%

    &__image
      background-size cover
      background-position center

    &__content
      background linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
      flexbox(column, flex-end, flex-start)
      padding 12px
      color $white
      height 95px
      top 205px
      


    &__title
      font-weight bold
      font-size 21px
      line-height 25px

      +responsive(xs)
        font-size 16px
        line-height 19px
      +responsive(xxs)
        font-size 16px
        line-height 19px

    &__subtitle
      font-weight 500
      font-size 16px
      line-height 19px
      
      +responsive(xs)
        font-size 13px
        line-height 16px
      +responsive(xs)
        font-size 13px
        line-height 16px