@import '../../style/required'

.g-alertbox
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  z-index 999
  background rgba($basicFive, 0.6)
  flexbox(row, center, center)
  &__inner 
    padding 30px
    min-height 280px
    width 480px
    background $white
    box-shadow(0px 0px 12px rgba(0, 0, 0, 0.15))
    flexbox(column, center, center)
    text-align center

  &__title
    color $black
    font-size 24px
    line-height 1.4
    font-weight 500
    margin-bottom 25px

  &__actions
    flexbox(row, center, center)
    > *:first-child 
      margin-right 20px