@import '../../style/required'


.filtercard-module
  padding-bottom 30px
  &__container
    position relative
    margin 0 -12px

    +responsive(xs)
      width calc(100% + 30px)
      position relative
      left -15px
      margin 0
      overflow-x: scroll
      overflow-y: hidden
      white-space: nowrap
      -webkit-overflow-scrolling:touch 
      padding-bottom 12px
      margin-bottom 12px
      &::-webkit-scrollbar
        display none
        
      &:after 
        content ''
        width 15px
        height 100px
        display inline-block

  &__item
    width 25%
    display inline-block
    padding 0 12px

    a 
      display block

    +responsive(sm-all)
      width 50%
      margin-bottom 24px

    +responsive(xs)
      width 40%
      padding 0
      margin-left 15px
      margin-bottom 0

