@import '../../style/required'

.g-article-card
    position relative
    display block
    background $white
    border-radius(6px)
    overflow hidden    
    box-shadow(0px 2px 6px rgba(0, 0, 0, 0.25))

    &__image
      background-size cover
      background-position center
      width 302px
      height 200px
      max-width 100%
      +responsive(sm)
        height 150px
      +responsive(xs)
        width 100%
        height 150px
      +responsive(xxs)
        width 100%
        height 150px
    &__tag
      background $newRed
      border-radius(2px)
      position absolute
      width 50px
      height 24px
      line-height 24px
      left 15px
      margin-top -13px
      flex none
      order 0
      align-self center
      text-align center
      font-weight 500
      font-size 13px
      text-transform capitalize

    &__content
      padding 20px 15px

      +responsive(sm)
        margin-right 10px
        width 177px
        flexbox(column, flex-start, center)
      
    &__title
      font-weight bold
      font-size 20px
      line-height 24px
      color $nBasicTwo
      +responsive(lg)
        font-size 18px
        line-height 24px
      +responsive(md)
        font-size 15px
        line-height 19px
      +responsive(sm)
        font-size 17px
        line-height 18px
      +responsive(xs)
        font-size 16px
        line-height 18px
      +responsive(xs)
        font-size 16px
        line-height 18px
      +responsive(xxs)
        font-size 16px
        line-height 18px

    &__subtitle
      font-weight normal
      font-size 16px
      line-height 19px
      color $nBasicTwo
      margin-top 5px
      overflow hidden
      display -webkit-box
      -webkit-line-clamp 4
      -webkit-box-orient vertical

      +responsive(md)
        font-size 14px
        line-height 18px
      +responsive(sm)
        font-size 14px
        line-height 18px
      +responsive(xs)
        font-size 15px
        line-height 18px
      +responsive(xxs) 
        -webkit-line-clamp 10 
        
