@import '../../style/required'

.g-filter-card
  background $white
  flexbox(row, flex-start, stretch)
  border 1px solid #DDDDDD
  box-shadow(0px 3px 4px rgba(0, 0, 0, 0.05))
  user-select()
  border-radius(3px)
  overflow hidden

  +responsive(xs)
    display block
  +responsive(xxs)
    display block

  &__image
    width 33%
    flex 0 0 33%
    background-size cover
    background-position center

    +responsive(xs)
      padding-bottom 60%
      width 100%
    +responsive(xxs)
      padding-bottom 60%
      width 100%

  &__content
    flexbox(column, center, flex-start)
    padding 16px 12px
    overflow hidden
    flex 1

    +responsive(xs)
      padding 12px
    +responsive(xxs)
      padding 12px

  &__title
    display block
    font-weight 600
    font-size 18px
    line-height 22px
    maxOneLine()
    color #444444

    +responsive(xs)
      font-size 15px
      line-height 18px
      padding-bottom 4px
    +responsive(xxs)
      font-size 15px
      line-height 18px
      padding-bottom 4px

  &__sub
    display block
    font-size 15px
    line-height 18px
    maxOneLine()
    color #666666

    +responsive(xs)
      font-size 12px
      line-height 14px
      white-space normal
      lineClamp(2)
    +responsive(xxs)
      font-size 12px
      line-height 14px
      white-space normal
      lineClamp(2)