@import '../../style/required'

.g-module-title
  font-weight 600
  font-size 30px
  line-height 36px
  font-family: Barlow;
  font-style: normal;
  color #000000
  padding 30px 0 20px 0

  +responsive(xs)
    font-size 21px
    line-height 26px

.g-module-subtitle
  font-size 16px
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  color #1AAF76;
  margin-left: 14px;

  +responsive(xs)
    //font-size 21px
    //line-height 26px