@import '../../style/required'

.subscribe-module
	background-color $nBasicFive
	padding 32px 0
	border 1px solid $nBasicFour
	border-radius 8px
	text-align center

	&__wrapper
		flexbox(row, center, center)

	&__infowrapper
		width 420px

	&__title
		font-size 36px
		font-weight bold
		line-height 43px
		font-style italic
		color $nBasicTwo
		padding-bottom 7px
		text-align start
	
	&__text
		font-size 18px
		font-weight normal
		line-height 150%
		color $nBasicTwo
		padding-bottom 24px
		text-align start
		
	&__input
		padding 20px
		border 0
		border-radius(8px)
		width 100%
	&__image
		width 329px
		height 329px
		background-size cover
		background-position center
		margin-left 56px