@import '../../style/required'

.help-module
  background-color $nBasicFive
  padding 15px 0 27px
  border 1px solid $nBasicFour
  border-radius 8px
  text-align center

  +responsive(lg)
    margin-left 30px
    margin-right 30px
  +responsive(md)
    margin-left 30px
    margin-right 30px
  +responsive(sm)
    margin-left 15px
    margin-right 15px
  +responsive(xs)
    margin-left 15px
    margin-right 15px
  +responsive(xxs)
    margin-left 15px
    margin-right 15px

  .title
    font-weight bold
    color $nBasicTwo
    line-height 43px
    text-align center
    font-size 36px
    margin 27px 0px 42px 0
    +responsive(xs)
      font-size 30px
    +responsive(xxs)
      font-size 26px

  &__cardswrapper
    margin-top 10px
    +responsive(lg)
      padding-left 15px
      padding-right 15px
    +responsive(md)
      padding-left 15px
      padding-right 15px
    +responsive(sm)
      padding-left 15px
      padding-right 15px
    +responsive(xs)
      padding-left 15px
      padding-right 15px
    

  &__item 
    margin-right 100px
    margin-bottom 16px 
    width 22%
    display inline-block
    +responsive(sm)
      width 31%
      margin-right 23px
    
    +responsive(xs)
      width 31%
      margin-right 22px
    +responsive(xxs)
      width 100%
      margin-right 0px
      padding 0px 15px
    &:last-child
      margin-right 0
