@import '../../style/required'

.article-module
  background-color $white

  +responsive(lg)
    padding-left 30px
    padding-right 30px
  +responsive(md)
    padding-left 30px
    padding-right 30px
  +responsive(sm)
    padding-left 15px
    padding-right 15px
  +responsive(xs)
    padding-left 15px
    padding-right 15px
  +responsive(xxs)
    padding-left 15px
    padding-right 15px
  
  +responsive(xs)
    //padding-top 0
    //padding-bottom 30px
  &__title
    
  &__cardswrapper
    margin-top 10px
    
  &__item 
    margin-right 22px
    margin-bottom 16px 
    width 302px
    max-width 100%
    display inline-block
    +responsive(lg)
      margin-right 20px
      width 270px
    +responsive(md)
      margin-right 17px
      width 228px
    +responsive(sm)
      margin-right 10px
      width 177px
    +responsive(xs)
      margin-right 10px
      width 176px
    +responsive(xxs)
      margin-left 0px
      margin-right 0px
      width auto

    &:last-child
      margin-right 0px
      +responsive(lg)
        margin-right 0px
      +responsive(xxs)
        margin-right 0px

  .container
    padding 0
    
