@import '../../style/required'

.g-country-card
    position relative
    display block
    background #444444
    border-radius(6px)
    overflow hidden
    width 242px
    height 300px
    box-shadow(0px 2px 6px rgba(0, 0, 0, 0.25))
    +responsive(lg)
      width 214px
      height 272px
    +responsive(xs)
      width 100%
    +responsive(xxs)
      width 100%
    &:before 
      content ''
      display block
      padding-bottom 127%
      height 0

    > div, &__content, &__image
      position absolute
      left 0
      top 0
      width 100%
      height 100%

    &__image
      background-size cover
      background-position center

    &__content
      background linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #000000 100%)
      flexbox(column, flex-end, flex-start)
      padding-bottom 10px
      color $white


    &__title
      font-weight bold
      font-size 21px
      line-height 25px
      padding-bottom 3px
      margin-left 4.96%

      +responsive(xs)
        font-size 16px
        line-height 19px
      +responsive(xxs)
        font-size 16px
        line-height 19px

    &__subtitle
      font-weight 500
      font-size 16px
      line-height 19px
      margin-left 4.96%
      
      +responsive(xs)
        font-size 13px
        line-height 16px
      +responsive(xxs)
        font-size 13px
        line-height 16px