@import '../../../style/required'

.g-form-input
  position relative
  flexbox(row, flex-start, center)
  border-radius(4px)
  border 1px solid $basicFour
  background $white
  overflow hidden
  height 42px
  &.error
    border-color $red
  input 
    font-size 15px
    line-height 18px
    color $basicOne
    display block
    outline 0
    border 0
    border-radius(0)
    padding 0 15px
    width 100%
    height 40px
    +placeholder()
      color $basicThree

  &__suffix
    font-weight 500
    font-size 15px
    line-height 18px
    color $basicThree
    padding 0 12px
