@import '../../style/required'
@import "~slick-carousel/slick/slick.css";

.g-carousel 
  padding-bottom 64%
  height 0
  position relative
  background #E5E5E5
  border-radius (8px)
    
  .slick-slider 
    position absolute
    left 0
    top 0
    height 100%
    width 100%
    .slick-list, .slick-track, .slick-slide 
      height 100%
      
    .slick-slide
      > div 
        width 100%
        height 100%
        
        > div 
          width 100%
          height 100%
          background-size cover
          background-position center
          border-radius (8px)
          
    
    .slick-dots
      position absolute
      left 0
      bottom 8px
      flexbox(row, center, center)
      display flex!important
      width 100%
      padding 0
      margin 0
      list-style none

      li
        margin-right 7px
        opacity 0.6
        padding 0

        &.slick-active 
          opacity 1

        &:last-child 
          margin-right 0

      button 
        box-shadow(0px 0px 2px 0px rgba(0,0,0,0.2))
        cursor pointer
        width 9px
        height 9px
        outline 0
        border 0
        background-color $white
        display block
        font-size 0
        border-radius(50%)
        padding 0