@import '../../style/required'
.g-property-gallery
    height 372px
    width 100%
    background-position center
    background-size cover
    background-repeat no-repeat
    position relative
    +responsive(xs)
      margin-top 30px
      margin-bottom 30px
      height 234px
    &__state
      user-select none
      font-style normal
      font-weight 600
      font-size 12px
      line-height 16px
      color $white
      background $basicOne
      opacity 0.8
      border-radius 4px
      min-width 37px
      height 18px
      position absolute
      bottom 9px
      left 50%
      padding 0 2px
      transform translateX(-50%)
      text-align center
    &__navigation
      position absolute
      display flex
      justify-content center
      width 48px
      height 48px
      opacity 0.8
      background $white
      top 50%
      transform translateY(-50%)
      cursor pointer
      user-select none
    &__next
      right 0
      margin-right -5px
    &__prev
      left 0
      margin-left -5px
.g-property-marker
    width 141px
    height 141px
    background rgba(75, 81, 105, 0.3)
    border-radius 50%
    border 2px solid $basicTwo
    box-sizing border-box
    transform translate(-50%, -50%)

.g-property-map
    height 340px
    width 100%
    +responsive(xs)
      height 231px

.g-property-info
    color $basicThree
    font-style normal
    font-weight normal
    font-size 13px
    line-height 16px
    display flex
    padding-top 10px
    margin-top 16px
    border-top 1px solid $basicSix
    justify-content space-between
    +responsive(xs)
        & ^[0]__text
          font-style normal
          font-weight normal
          font-size 12px
          line-height 14px
    +responsive(xxs)
        & ^[0]__text
          font-style normal
          font-weight normal
          font-size 12px
          line-height 14px
    &__text
      align-items center
      display flex


    &__btn
      cursor pointer
      background $white
      border 1px solid $basicTwo
      color $basicTwo
      box-sizing border-box
      border-radius 4px
      height 32px
      min-width 70px
      font-style: normal
      font-weight 500
      font-size 15px
      line-height 18px
      font-feature-settings 'pnum'

.g-property-expanded-content
    margin auto
    max-width 560px
    +responsive(xxs)
      & ^[0]__cell
        min-width 50%
        margin-bottom 9px
        margin-top 9px
      & ^[0]__section
        padding 0 9px

      & ^[0]__title
        margin-bottom 0
    &__section
        padding-top 10px
        padding-bottom 15px
    &__title
        font-style normal
        font-weight bold
        font-size 21px
        line-height 130%
        letter-spacing 0.1em
        color $nBasicOne
        margin-bottom 7px
        margin-top 4px
    &__content
        font-style normal
        font-weight normal
        font-size 15px
        line-height 130%
        color $dark
        display flex
        flex-wrap wrap

    &__location
        font-style normal
        font-weight 500
        font-size 15px
        line-height 18px
        color $nBasicTwo
        margin-bottom 14px
        margin-top 10px
        display block
    &__cell
      min-width 33%
      display flex
    &__feature-icon
      margin-right 8px

.g-property-tabs
    margin-top 12px
    margin-left -12px
    margin-right -12px
    height 52px
    border-top 1px solid $basicEight
    border-bottom 1px solid $basicEight
    display flex
    justify-content center
    position relative
    +responsive(xs)
        margin-top 6px
        & ^[0]__close
            display none
        & ^[0]__tab
          flex-grow 1
    +responsive(xxs)
        margin-top 6px
        & ^[0]__close
            display none
        & ^[0]__tab
          flex-grow 1
    &__tab
        cursor pointer
        user-select none
        min-width 124px
        border-left 1px solid $basicEight
        display flex
        align-items center
        justify-content center
        font-size 15px
        line-height 18px
        &:last-child
            border-right 1px solid $basicEight
        &--active
            color $brandDark
            box-shadow(0px 2px 0px $brandDark)
    &__close
        cursor pointer
        user-select none
        position absolute
        display flex
        right 20px
        top 50%
        transform translateY(-50%)

.g-property-features
    cursor pointer
    background-color $white
    border 1px solid $nBasicFour
    border-radius 4px
    padding 0 12px
    height 37px
    display inline-flex
    margin-top: 13px
    +responsive(xxs)
      margin-top 12px
      height 55px
      padding-top 7px
      padding-left 0px
      padding-right 0px
      width min-content
    &__feature:first-child
      margin-left 0
    &__feature:last-child
      border-right none
    &__feature
      height 36px
      min-width 50px
      font-size 11px
      line-height 13px
      text-align center
      display flex
      border-right 1px solid $nBasicFour
      margin-left 10px
      flex-direction row
      justify-content center
      align-items center
      +responsive(xxs)
        height 36px
        display inline-block
    &__icon
      width auto
      height auto
    &__title
      color: $nBrandDark
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      margin 0 10px
      font-weight 500
      line-height 18px
      font-size 15px

.g-property-details
    background-color: #FFFFFF
    /*box-shadow(0px 2px 4px rgba(0, 0, 0, 0.15))*/
    border-radius 8px
    //margin-left 20px
    margin-bottom 20px
    padding 12px
    display flex
    flex-direction column
    width 100%
    max-width 804px
    border: 1px solid #d8e1e6;
    +responsive(sm)
        margin-left 15px
        margin-right 15px
    +responsive(xxs)
        padding 6px
        width 100vw
        margin-left 0
        border-radius 8px
        & ^[0]__image
          width 28.27%
          min-width 28.27%
          max-width 28.27%
          height 184px
          margin-right 0

        & ^[0]__content
          flexbox(column, flex-start, flex-start)
          width auto
          margin-left 12px
        & ^[0]__wrapper
          flex-direction column
          max-width 71.73%
          flex-grow 1
        & ^[0]__title
          font-style normal
          font-weight 600
          font-size 18px
          line-height 130%
          margin-bottom 6px

        & ^[0]__price
          font-style normal
          font-weight bold
          font-size 19px
          line-height 23px
        & ^[0]__location
          max-width 100%
          font-style normal
          font-weight 500
          font-size 13px
          line-height 16px

        & ^[0]__side
          flex-direction row
          display flex
          justify-content space-between
          flex-grow 1
          margin-left 12px
          min-width auto
          max-width none
          width auto
          background none

        & ^[0]__cta
          margin-top 0
          min-width 110px;
          min-height 36px;

        & ^[0]__price-sqm
          align-items flex-start

        & ^[0]__sqm
          font-style normal
          font-weight 600
          font-size 10px
          line-height 12px
          font-feature-settings 'pnum' on, 'lnum' on
          opacity 0.8
          margin-top 1px

        & ^[0]__features
          font-size 11px
          order -1
          padding-bottom 5px
    &__main
      display flex
      flex-direction row
    &__content
      padding 0
      display flex
      flex-direction column
      max-width 100%
      flex-grow 1
    &__wrapper
      display flex
      flex-grow 1
    &__image
      cursor pointer
      border-radius(6px)
      background-size cover
      background-position center
      height: 175px
      width: 174px
      min-width 174px
      max-width 174px
      margin-right 12px

    &__side
      background-color #F0F5FB
      border-radius 4px
      width 210px
      margin-left 12px
      min-width 210px
      max-width 210px
      display flex
      flex-direction column
      justify-content center
      align-items center
      text-decoration none

    &__location
      cursor pointer
      color $darker
      font-style normal
      font-weight 500
      font-size 15px
      line-height 18px
      lineClamp(1)

    &__title
      cursor pointer
      font-style normal
      font-weight 600
      font-size 18px
      line-height 150%
      color $darker
      margin-bottom 9px
      lineClamp(2)

    &__features
      padding-bottom 10px
      color $orange
      font-size 15px
      font-weight 500
      line-height 1.4

    &__footer
      flexbox()
    &__price-sqm
      display flex
      flex-direction column
      align-items center
    &__price
      font-style normal
      font-weight bold
      font-size 24px
      line-height 120%
      color $darker

    &__sqm
      font-style normal
      font-weight 600
      font-size 18px
      line-height 120%
      color $brand
      margin-top 4px

    &__link
      text-decoration none

    &__cta
      margin-top 36px
      background $brand
      border-radius 4px
      min-width: 180px
      min-height 42px
      align-content center
      font-style normal
      font-weight 600
      font-size 18px
      display flex
      align-items center
      justify-content center
      color $white
      text-decoration none

