@import '../../style/required'


.fullcard-module
  padding-bottom 30px
  padding-left 15px
  padding-right 15px
  &__container
    position relative
    margin 0 -12px

    +responsive(xs)
      width calc(100% + 30px)
      position relative
      left -15px
      margin 0

  &__arrow
    position absolute
    top 0
    bottom 0
    margin auto
    width 40px
    height 40px
    background $white
    box-shadow(0 2px 15px 0 rgba(0, 0, 0, 0.1))
    border-radius(50%)
    flexbox(row, center, center)
    cursor pointer
    

    &.l 
      left 0px

    &.r 
      right 0px

    i 
      position relative
      top 2px
      font-size 20px

  &__items
    overflow hidden

  &__carousel
    transition(all 300ms)
    white-space nowrap
    +responsive(xs)
        transition(none)
        overflow-x scroll
        overflow-y hidden
        white-space nowrap
        transform(translateX(0)!important)
        -webkit-overflow-scrolling touch
        

        &:after 
          content ''
          width 15px
          height 100px
          display inline-block

  &__item
    width 20%
    display inline-flex
    padding 0 12px
    justify-content center
    align-items center
    +responsive(xs)
      display inline-block
    &:last-child
      +responsive(xxs)
        margin-right 0px
    a 
      display block

    +responsive(md-all)
      width 25%

    +responsive(sm-all)
      width 33.3333%

    +responsive(xs)
      width 46%
      padding 0
      margin-left 15px

    +responsive(xxs)
      width 84%
      padding 0
      margin-left 15px
      margin-right 15px

