@import '../../style/required'

.seo-module
  background-color $white

  +responsive(xs)
    //padding-top 0
    //padding-bottom 30px
 
  &__cardswrapper
    margin-top 10px
    +responsive(lg)
      padding-left 30px
      padding-right 30px
    +responsive(md)
      padding-left 30px
      padding-right 30px
    +responsive(sm)
      padding-left 15px
      padding-right 15px
    +responsive(xs)
      padding-left 15px
      padding-right 15px
    +responsive(xxs)
      padding-left 15px
      padding-right 15px
    
  &__item 
    width 45%
    margin-right 40px
    min-width 190px
    display inline-block

    +responsive(sm)
      width 48%
      margin-right 10px

     +responsive(xs)
      width 100%
      margin-right 0px 
    +responsive(xxs)
      width 100%
      margin-right 0px

    &:last-child
      margin-right 0px
  .container
    padding 0
