@import '../../style/required'

.g-full-card
    position relative
    display block
    background #444444
    border-radius(3px)
    overflow hidden
    &:before 
      content ''
      display block
      padding-bottom 127%
      height 0

    > div, &__content, &__image
      position absolute
      left 0
      top 0
      width 100%
      height 100%

    &__image
      background-size cover
      background-position center

    &__content
      background linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #000000 100%)
      flexbox(column, flex-end, center)
      padding-bottom 24px
      color $white

    &__title
      font-weight bold
      font-size 24px
      line-height 28px
      padding-bottom 3px

      +responsive(xs)
        font-size 16px
        line-height 19px
      +responsive(xxs)
        font-size 16px
        line-height 19px

    &__subtitle
      font-weight 500
      font-size 15px
      line-height 20px

      +responsive(xs)
        font-size 13px
        line-height 16px
      +responsive(xxs)
        font-size 13px
        line-height 16px