@import '../../style/required'

.propertydetailswrapper-module
  padding-bottom 30px
  padding-left 30px
  padding-right 30px
  &__container
    position relative
    margin 0 -12px

    +responsive(xs)
      width calc(100% + 30px)
      position relative
      left -15px
      margin 0

  &__arrow
    position absolute
    top 0
    bottom 0
    margin auto
    width 40px
    height 40px
    background $white
    box-shadow(0 2px 15px 0 rgba(0, 0, 0, 0.1))
    border-radius(50%)
    flexbox(row, center, center)
    cursor pointer
    +responsive(xs)
      display none!important

    &.l 
      left -8px

    &.r 
      right -8px

    i 
      position relative
      top 2px
      font-size 20px

  &__items
    overflow hidden

  &__carousel
    transition(all 300ms)
    white-space nowrap

  &__item
    width 326px
    display inline-block
    padding 0 12px

